<template lang="pug">
section.mb2
  .f3.mv2.flex.jsb
    .flex.fc
      Ext(v-if='titleLink' :href='titleLink')
        span.f3.fw5(v-html='title')
        | &nbsp;
        fa(icon='link')
      .f3.fw5(v-else) {{ title }}
      span(v-if='awardCaption', :title='awardCaption')
        | &nbsp;
        fa(icon='trophy')
      .desc(v-if='descLink')
        Ext(:href='descLink') {{ desc }}
          | &nbsp;
          fa(icon='link')
      .desc(v-else) {{ desc }}
      Ext(v-if='github', :href='github')
          | &nbsp;
          fa(icon='GitHub')
    span.italic.fw5(v-if='duration') {{ duration }}
  slot(name='extra')
  ul
    slot
</template>

<script>
export default {
  props: {
    awardCaption: {
      type: String,
      default: '',
    },
    github: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    titleLink: {
      type: String,
      default: '',
    },
    desc: {
      type: String,
      default: '',
    },
    descLink: {
      type: String,
      default: '',
    },
    duration: {
      type: String,
      default: '',
    },
    expected: {
      type: Boolean,
      default: false,
    }
  }
}
</script>
