<template lang="pug">
nav.bs1(:class="{ glass }")
  .nav-left
    a.dim(v-if=('$route.path === "/"'), href='#top', aria-label='Top')
      fa(icon='home')
    router-link.dim.ripple.big(v-else, to='/', aria-label='Home')
      fa(icon='home')
  .ham(v-if='$slots.default')
    input(type='checkbox', aria-label='Hamburger menu')
    span
    span
    span
    ul.nav-right
      slot
</template>
<script>
export default {
  data: () => ({
    glass: false,
  }),
  methods: {
    scrollListener() {
      this.glass = this.scrollTopEl.scrollTop > 48;
    },
  },
  mounted() {
    const scrollEl = window.c || window
    this.scrollEl = scrollEl
    this.scrollTopEl = scrollEl === window ? document.documentElement : scrollEl
    scrollEl.addEventListener('scroll', this.scrollListener, { capture: false, passive: true })
    this.scrollListener();
  },
  beforeDestroy() {
    this.scrollEl.removeEventListener('scroll', this.scrollListener, { capture: false, passive: true })
  },
}
</script>

<style lang="scss">
@import '../assets/css/variables.scss';

$nav-bc: $c5;
$nav-fc: $c4;

nav {
  align-items: center;
  background-color: $nav-bc;
  color: $nav-fc;
  display: flex;
  font-size: 1.25rem;
  height: $nav-height;
  justify-content: space-between;
  left: 0;
  padding: 0.5rem 2.5rem;
  position: sticky;
  top: 0;
  transition: background-color 200ms ease, box-shadow 200ms ease;
  width: 100%;
  z-index: 1;

  &.glass {
    /* backdrop-filter: blur(5px); */
    background-color: transparentize($nav-bc, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  }
}

@media print {
  nav {
    display: none;
  }
}

.nav-left,
.nav-right {
  display: flex;
}

.nav-right {
  list-style: none;
  padding: 0;

  > li:not(:first-child) {
    margin-left: 1rem;
  }
}

.ham input {
  display: none;
}

@media only screen and (max-width: $mobile) {
  $ham-h: 1.5rem;
  $ham-w: 2rem;

  .nav-right {
    background: $nav-bc;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding-top: $nav-height;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    width: 50%;

    > li {
      padding: 0 2rem;

      > a {
        display: block;
        padding: 0.5rem 0;
      }
    }

    > li:not(:first-child) {
      margin-left: 0;
    }
  }

  .ham {
    position: relative;
    width: $ham-w;
  }

  .ham input {
    cursor: pointer;
    display: block;
    height: $ham-h;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $ham-w;
    z-index: 1;

    ~ span {
      background-color: currentColor;
      display: block;
      padding-top: 10%;
      pointer-events: none;
      position: relative;
      transition: transform 0.3s ease-in-out;
      width: 100%;
      z-index: 1;

      &:not(:first-of-type) {
        margin-top: 16%;
      }
    }
  }

  .ham input:checked {
    ~ .nav-right {
      box-shadow:
        -3px 0 5px -1px rgba(0, 0, 0, 0.2),
        -6px 0 10px 0 rgba(0, 0, 0, 0.14),
        -1px 0 18px 0 rgba(0, 0, 0, 0.12);
      transform: translateX(0);
    }

    ~ span:nth-of-type(2) {
      opacity: 0;
    }

    ~ span:nth-of-type(1) {
      transform: translateY(260%) rotate(45deg);
    }

    ~ span:nth-of-type(3) {
      transform: translateY(-260%) rotate(-45deg);
    }
  }
}
</style>
