<template lang="pug">
.resume
  center.mb1
    .f1.fw3.adjust {{ name }}
    .l1.imr3pt.aml10pt.f2
      Ext(v-for='topLink of topLinks', :key="topLink.fa", :href='topLink.href')
        fa(:icon='topLink.icon')
        | {{ topLink.text }}
  section.mb1
    .mb2.f2.italic.gg-underline.fw5 Technical Skills
    div
      span.fw5.mr8pt Languages:
      span
        slot(name='languages')
    div
      span.fw5.mr8pt Frameworks:
      span
        slot(name='f')
    div
      span.fw5.mr8pt Tools:
      span
        slot(name='t')
  section.mb1
    .mb2.f2.italic.gg-underline.fw5 Work Experience
    slot(name='workEx')
  section.mb1
    .mb2.f2.italic.gg-underline.fw5 Projects
    slot(name='projects')
  section.mb1
    .mb2.f2.italic.gg-underline.fw5 Activities
    slot(name="activities")
  section.mb1
    .mb2.f2.italic.gg-underline.fw5 Education
    slot(name="education")
    //- .f3(style='margin:3pt 0') Relevant Coursework
    //- slot(name="coursework")
</template>

<script>
export default {
  props: {
    topLinks: {
      type: Array,
      default: () => [],
    },
    name: {
      type: String,
      default: '',
    },
  }
}
</script>

<style>
.adjust {
  margin-top: -5px;
}
</style>

