<template lang="pug">
resume-template(:topLinks='topLinks', name='Amby Balaji')
  template(slot='languages') JavaScript, PHP/Hack, CSS, HTML, Python, C++, Dlang, Golang, Scala, Java, Rust, SQL
  template(slot='f') React, Relay, Apollo, Redux, MobX, Vue, Vuex, Nuxt, Express, Flask, Qt, KDE
  template(slot='t') Webpack, CMake, PostgreSQL, MongoDB, Arch Linux, Arduino, Docker, AWS, Heroku

  template(slot='workEx')
    item(title='Co-Founder and Chief Technology Officer', desc='Tutturu', descLink='https://tutturu.tv/', duration='Dec 2019–Present')
      li Building a living-room-like shared experience bringing together distant friends and family
      li 1400+ registered users with 40+ paying subscribers

    item(title='Front End Engineering Intern', desc='Facebook, Seattle, WA', descLink='https://www.facebook.com/gaming', duration='May-Aug 2019')
      li Worked on a new #[b React]/#[b Relay]/#[b Redux]/#[b Hack]-based messaging platform aimed at gamers and streamers
      li Built a "Report message" feature, with #[b Relay]/#[b GraphQL] subscriptions to notify admins to take action
      li Implemented #[b React Router] support and refactored core application logic for compatibility with the same

    item(title='Full-Stack Software Engineer', desc='Globality, Menlo Park, CA', descLink='https://globality.com', github='https://github.com/globality-corp', duration='Aug–Dec 2018')
      li Worked on #[b PostgreSQL]/#[b Flask] #[b Docker]ized microservices and #[b GraphQL]/#[b React]/#[b Node.js] based web apps
      li Created #[b Apollo] mutations, backend routes, and #[b AWS SNS] integrations for a message broadcasting service
      li Migrated components to reusable packages and reduced client JavaScript bundle size by several megabytes

    item(title='Junior Software Engineering Instructor/TA', desc='Horizons, San Francisco, CA', descLink='https://joinhorizons.com', github='https://github.com/horizons-school-of-technology', duration='Jan–May 2018')
      li Taught the basics of #[b Full Stack Web] development to aspiring students with no prior coding background
      li Made tutorials for a #[b MongoDB]/#[b Express]/#[b React]/#[b Node.js] stack, #[b unit testing], #[b React Native], and #[b web security]
      li Built curriculum for a deep-dive #[b compilers course] covering lexical and semantic analysis, and parsing

    item(title='Software Developer', desc='Rangle.io, Toronto, ON', descLink='https://rangle.io', github='https://github.com/rangle', duration='May–Aug 2017')
      li Worked on a #[b MongoDB]/#[b Koa]/#[b React-Redux]/#[B Node.js]-based internal project management and staffing app
      li Increased #[b Jest] test coverage, fixed performance bottlenecks in #[b Reselect] selectors and in #[b CI]/#[b CD] pipelines


  template(slot='projects')
    item(title='babel-plugin-transform-lodash-get', desc='JavaScript, Babel', titleLink='https://github.com/Ambyjkl/babel-plugin-transform-lodash-get', duration='Sep 2018')
      li Made a Babel plugin that statically optimizes #[b lodash/get] for up to a 12,000% boost in execution speed

    item(title='Sign Language Translator (1<sup>st</sup> place, EC Hacks 2016)', awardCaption='1st Place, Most Innovative Hack' titleLink='https://www.devpost.com/software/sign-language-translator', desc='Leap Motion Python SDK', duration='Nov 2016')
      li Built an ASL translator that helps hearing and speech impaired better communicate with others

  template(slot='coursework')
    ul(style='column-count:2')
      li SE 350: Operating Systems
      li CS 343: Concurrent and Parallel Programming
      li CS 348: Introduction to Database Management
      li ECE 222: Digital Computer Architecture
      li CS 341: Algorithms II
      li CS 240: Data Structures and Data Management

  template(slot='activities')
    item(title='Open source contributions', desc='C++, Qt, JavaScript, Go')
      li #[Ext(href='https://phabricator.kde.org/D12626')  Ported] the #[b KDE Spectacle] screenshot tool from #[b QtQuick] to #[b C++]/#[b QPainter] to boost performance significantly
      li Added #[Ext(href='https://gitlab.com/gitlab-org/gitlab-pages/merge_requests/120') static compressed brotli content-encoding] support to #[b GitLab pages] for >10-15% faster page loading

  template(slot='education')
    item(title='University of Waterloo', 'desc'='Bachelor of Software Engineering (BSE)', duration='Sep 2016–Apr 2021 (expected)')
</template>

<script>
import Item from '~/components/Item'
import ResumeTemplate from '~/components/ResumeTemplate'
import * as constants from '~/assets/js/constants'

export default {
  components: {
    Item,
    ResumeTemplate,
  },
  data() {
    return {
      topLinks: [
        { href: constants.domain, icon: 'globe', text: 'ambyjkl.tech' },
        { href: 'mailto:' + constants.edumail, icon: 'envelope', text: constants.edumail },
        { href: constants.GitHub, icon: 'GitHub', text: 'ambyjkl' },
        { href: constants.Linkedin, icon: 'linkedin-in', text: 'ambyjkl' },
      ]
    }
  },
}
</script>

<style lang="scss">
.resume {
  background: #fff;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  font-size: 11pt;
  height: 11in;
  line-height: 1.75;
  margin: 11px auto 7px;
  overflow: hidden;
  padding: 0.35in 0.45in 0.45in;
  transform-origin: left top;
  width: 8.5in;

  .desc {
    border-left: 1px solid #000;
    margin-left: 5pt;
    padding-left: 5pt;
  }

  // .devpost {
  //   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 280.3 242"><path d="M133.7 76H118v90h14.7c31 0 45-18 45-45 0-30-12.8-45-44-45z"/><path d="M210.2 0h-140L0 121l70 121h140.2l70-121-70-121zm-77.5 195H89V47h45.8c42 0 73.3 20 73.3 74 0 51.8-37.4 74-75.3 74z"/></svg>');
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   height: 12pt;
  //   width: 12pt;
  //   margin-left: 2pt;
  // }

  // .exp {
  //   position: relative;

  //   &::after {
  //     content: '\A(expected)';
  //     position: absolute;
  //     right: 0;
  //     white-space: pre;
  //   }
  // }

  b {
    font-weight: 500;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='12'%3E%3Ccircle fill='%233c3c3c' stroke='black' stroke-width='0.5' cx='3.5' cy='6' r='2.5'/%3E%3C/svg%3E");
    background-position: top 6px left;
    background-repeat: no-repeat;
    color: #3c3c3c;
    font-style: normal;
    font-weight: normal;
    padding-left: 12pt;
    text-align: justify;

    > a {
      text-decoration: underline;
    }
  }

  sup,
  sub {
    position: relative;
    top: -0.4em;
    vertical-align: baseline;
  }

  sub {
    top: 0.4em;
  }

  // ul > li ul > li {
  //   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="12"><circle fill="white" stroke="black" stroke-width="0.5" cx="3.5" cy="6" r="2.5"/></svg>');
  // }

  .aml10pt > a:not(:first-child) {
    margin-left: 10pt;
  }

  .imr3pt svg {
    margin-right: 3pt;
  }

  .mr8pt {
    margin-right: 8pt;
  }

  .mb1 {
    margin-bottom: 7pt;
  }

  .mb2 {
    margin-bottom: 6pt;
  }

  .mv2 {
    margin-bottom: 2.5pt;
    margin-top: 2.5pt;
  }

  .fw3 {
    font-weight: 300;
  }

  .fw5 {
    font-weight: 500;
  }

  .gg-underline {
    border-bottom: 1px solid #000;
  }

  .italic {
    font-style: italic;
  }

  .f1 {
    font-size: 33pt;
    line-height: 1.3;
  }

  .f2 {
    font-size: 13pt;
  }

  .f3 {
    font-size: 12pt;
  }

  .f2,
  .f3 {
    line-height: 1;
  }
}

@media print {
  .resume {
    margin: 0;
  }
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}
</style>
