<template lang="pug">
.flex.jc.ac(:class='{ contain }')
  map.dim2(:name='title')
    area(shape='rect', coords='0,0,999,999', :href='href', target='_blank', rel='noopener noreferrer')
  img.showcase-img(:src='src', :alt='title', :usemap='`#${title}`')
  div.detail
    Ext.dim.f1-5(:href='href') {{ title }}
    div.fw3(v-html='subtitle')
    p.m0.mt1
      slot
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    src: {
      type: String,
      default: '',
    },
    href: {
      type: String,
      default: '',
    },
    desc: {
      type: String,
      default: '',
    },
    subtitle: {
      type: String,
      default: '',
    },
    contain: {
      type: Boolean,
      default: false,
    }
  },
}
</script>

<style lang="scss">
.detail {
  width: calc(8rem + 30vw);
}

.showcase-img {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 8rem;
  margin: 0 1rem 0 0;
  object-fit: cover;
  width: 8rem;
}

</style>
