@import './variables.scss';

$colors: $c1, $c2, $c3, $c4, $c5;

@for $i from 1 through length($colors) {
  $c: nth($colors, $i);

  .fc#{$i} {
    color: $c;
  }

  .bc#{$i} {
    background-color: $c;
  }
}
