@import './variables.scss';
@import './colors.scss';

.fa {
  display: inline-block;
  font-size: inherit;
  height: 0.9em;
  overflow: visible;
  vertical-align: -0.125em;
}

html {
  box-sizing: border-box;
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.ripple {
  overflow: hidden;
}

.under,
.ripple {
  position: relative;

  &:focus {
    outline: 0;
  }

  &::after {
    content: '';
    display: block;
    left: 50%;
    pointer-events: none;
    position: absolute;
    transition:
      transform 400ms cubic-bezier(0, 0, 0.2, 1),
      opacity 200ms cubic-bezier(0, 0, 0.2, 1) 400ms;
    z-index: 1;
  }
}

.under::after {
  background-color: currentColor;
  bottom: -2px;
  height: 2px;
  transform: translateX(-50%) scaleX(1);
  width: 100%;
}

.under:active::after {
  transform: translateX(-50%) scaleX(0);
  transition: none;
}

.ripple::after {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  opacity: 0;
  padding-top: 120%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1, 1);
  width: 120%;
}

.ripple.big,
.ripple.huge {
  overflow: visible;
}

.ripple.big::after {
  padding-top: 200%;
  width: 200%;
}

.ripple.huge::after {
  padding-top: 300%;
  width: 300%;
}

.ripple:active::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0, 0);
  transition: none;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

@media only screen and (max-width: $mobile) {
  .fdcs {
    flex-direction: column;
  }
}

.jc {
  justify-content: center;
}

.jsb {
  justify-content: space-between;
}

.ac {
  align-items: center;
}

.l1 {
  line-height: 1;
}

.dib {
  display: inline-block;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3 {
  padding: 3rem;
}

.pv1 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.pv2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.pv3 {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.ph1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ph2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ph3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.m0 {
  margin: 0;
}

.mt1 {
  margin-top: 1rem;
}

.mv2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.bs1 {
  box-shadow:
    0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.bs2 {
  box-shadow:
    0 -3px 5px -1px rgba(0, 0, 0, 0.2),
    0 -6px 10px 0 rgba(0, 0, 0, 0.14),
    0 -1px 18px 0 rgba(0, 0, 0, 0.12);
}

.f4 {
  font-size: 4rem;
}

.f3 {
  font-size: 3rem;
}

.f2-5 {
  font-size: 2.5rem;
}

.f2 {
  font-size: 2rem;
}

.f1-5 {
  font-size: 1.5rem;
}

.f1 {
  font-size: 1rem;
}

.fw3 {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

.contain img {
  object-fit: contain;
}

.dim,
.dim2 ~ img {
  transition: opacity 200ms ease;
}

.dim:hover,
.dim2:hover ~ img {
  opacity: 0.8;
}

.b {
  font-weight: bold;
}
