<template lang="pug">
nuxt
</template>

<script>
import Vue from 'vue'
import Ext from '~/components/Ext'
import fa from '~/components/fa'

Vue.component('Ext', Ext)
Vue.component('fa', fa)

export default {}
</script>
