<template lang="pug">
div
  NavBar
    li
      a.dim.under(href='#bio') Bio
    li
      a.dim.under(href='#work') Work
    li
      a.dim.under(href='#activities') Activites
    li
      a.dim.under(href='#projects') Projects
    li
      a.dim.under(href='#contact') Contact
    li
      router-link.under(to='/resume') Resume
  #c.c
    #top.parallax(v-once)
      main.background.center.flex.jc.ac
        .hero#s
          div(v-for='letter in text.split("")', @animationend='$event.target.className = ""') {{ letter }}
      .foreground
        .mario(ref='mario' aria-hidden='true')
        .key-guide#k
          p.fc4.center Press the keys!
          .keys
            div(ref='KeyX', style='margin-right:1rem') X
            div(ref='ArrowLeft') ←
            div(ref='ArrowUp') ↑
            div(ref='ArrowRight') →
        section#bio.pv3.ph1.bs2.bc3.fc4
          center.f4 Hey there! I'm Amby!
          .flex.ac.fdcs
            img.main-img.mv2(:src='me', alt='Amby')
            p.f1-5 I'm a Software Engineering student at the University of Waterloo. My hobbies include writing, badminton, retro gaming, tinkering with the open source software, watching software tech talks, and researching about various programming idioms and paradigms. More than anything, I love to code!

          p.f1-5 Recently, I started writing a book, please check it out here: #[Ext.dim(href='https://ambyjkl.gitlab.io/strange-dreams', style='text-decoration:underline') Strange Dreams]
          p.f1-5 Things I'm currently reading about:
          ul
            li Compiler optimizations: deforestation, strength reduction, etc.
            li WebAssembly vs asm.js vs C++ addons for different workflows on Node.js
            li Glitches in retro video games
            li Parallel algorithms, thread synchronization

        section#work.pv3.ph1.bc2.fc4
          center.f3 Places I've been fortunate to work at:
          .showcase
            showcase(
              :src='facebook',
              href='https://www.facebook.com'
              title='Facebook ',
              subtitle='Front End Engineering Intern | May-Aug 2019',
            )
              template Worked on the Facebook Gaming team based in Seattle on a new messaging platform aimed at gamers and streamers
            showcase(
              :src='globality',
              href='https://www.globality.com'
              title='Globality Inc.',
              subtitle='Full-Stack Software Engineer | Aug–Dec 2018',
            )
              template Worked on an innovative Business-to-Business matchmaking platform backed by distributed Python microservices, React, and GraphQL to revolutionize company-to-company interactions
            showcase(
              :src='horizons',
              href='https://joinhorizons.com',
              title='Horizons School of Technology',
              subtitle='Junior Software Engineering Instructor / TA | Jan–May 2018',
            )
              template Taught and mentored students to help them become skillful, productive, and responsible Full-Stack Web Engineers.
            showcase(
              :src='rangle',
              href='https://rangle.io',
              title='Rangle.io',
              subtitle='Software Developer | May–Aug 2017',
            )
              template Worked with modern JavaScript tools and frameworks like React, Redux, Webpack, Koa, etc. to deliver high quality web applications to clients.
        section#activities.pv3.ph1.bc4.fc5
          center.f3 Some communities I'm involved with:
          .showcase.contain
            showcase(
              src='https://teamwaterloop.ca/images/Logotype_Black.svg'
              href='https://teamwaterloop.ca'
              title='Team Waterloop, University of Waterloo'
              subtitle='C++, Go, Qt, Arduino, I<sup>2</sup>C, JavaScript, Python'
            )
              template Web lead and Embedded Dev for Canada's Hyperloop initiative. Catch us at the annual SpaceX Competition!
            showcase(
              src='https://www.kde.org/aether/media/128x128.svg'
              href='https://www.kde.org'
              title='KDE Community'
              subtitle='C++, Qt, JavaScript'
            )
              template Active contributor to the KDE free software community, known for their Plasma GNU/Linux desktop environment. Just got a #[Ext.b.dim(href="https://phabricator.kde.org/D12626", aria-label="KDE Phabricator Patch") patch] merged in!
            showcase(
              src='https://upload.wikimedia.org/wikipedia/commons/1/18/GitLab_Logo.svg'
              href='https://gitlab.com'
              title='GitLab'
              subtitle='Go'
            )
              template About to get my first merge request to GitLab merged in! Should make GitLab pages load much faster through better compression. Critque it #[Ext.b.dim(href="https://gitlab.com/gitlab-org/gitlab-pages/merge_requests/120", aria-label="KDE Phabricator Patch") here]!
        section#projects.pv3.ph1.bc3.fc4
          center.f3 Here are a few of my fun side projects:
          .showcase
            showcase(
              :src='lodash',
              href='https://github.com/Ambyjkl/babel-plugin-transform-lodash-get',
              title='babel-plugin-transform-lodash-get',
              subtitle='JavaScript, Babel',
            )
              template Try out this Babel plugin that statically optimizes lodash/get for up to a 12,000% boost in execution speed!
            showcase(
              :src='climbcareer',
              href='http://www.climbcareer.com',
              title='Climb Career',
              subtitle='Vue, Vuex, Express, MongoDB',
            )
              template Make a professional-looking resume in your browser quick and fast with this WYSIWYG resume editor!
            showcase(
              src='https://www.cigionline.org/interactives/2017annualreport/assets/CIGI-title-03.svg',
              href='https://cigionline.org/interactives/2017annualreport/#/?slide=0',
              title='Freelance Project - CIGI',
              subtitle='Jekyll, Webpack, HTML, CSS, JavaScript, SVG',
              contain
            )
              template A tailor-made elegant, eye-catching interactive annual report website for a client. Slick. Animations.
            showcase(
              :src='minesweeper',
              href='http://ambyjkl.github.io/minesweeper',
              title='Minesweeper',
              subtitle='Just plain ol\' HTML, CSS, JavaScript',
            )
              template Sick of all the terrible attempts at recreating the classic, I set foot to make my own. Nothing beats the original tho.
            showcase(
              :src='handle',
              href='https://www.devpost.com/software/handle',
              title='handle',
              subtitle='React Native, Node.js, Firebase',
            )
              template Tired of losing sleep wasting time at the grocery store? Let someone else handle your shopping for you!
            showcase(
              :src='slt',
              href='https://www.devpost.com/software/sign-language-translator',
              title='Sign Language Translator',
              subtitle='Python, Leap Motion SDK',
            )
              template An American Sign Language to English translator that uses a Leap Motion sensor. #[b First Place] and #[b Most Innovative Hack] at EC Hacks 2016.
            showcase(
              :src='asciinator',
              href='https://www.github.com/YashMathur/ASCIInator',
              title='ASCIInator',
              subtitle='Python, python-pillow',
            )
              template Ever wanted to display images in you terminal? Now you can with ASCIInator, a script that converts images to ASCII and pixel art!
            showcase(
              :src='hyperspace',
              href='https://www.github.com/Ambyjkl/HyperSpace',
              title='Hyperspace',
              subtitle='C++, OpenGL, Arduino',
            )
              template Shoot-em-up game using OpenGL with Tiva Launchpad + Orbit BoosterPack as controller.
        section#contact.pv2.bc2.fc4.center
          p.fc4 Wanna say hi? Reach me at #[a.b.dim(:href='"mailto:" + constants.personalmail') {{ constants.personalmail }}] or #[a.b.dim(:href='constants.phonetel') {{ constants.phonepretty }}]
          center.f2-5.social.fc4
            a.dim.ripple.dib.big(v-for='thing of ["GitHub", "Facebook", "Twitter", "Linkedin"]', :href='constants[thing]', :aria-label="thing")
              fa(:icon='thing')
        footer.bc5.center.pv1.fc4 Handcrafted with #[span.fc3 ❤] and #[fa(type='brands', icon='vuejs', style='color: #41b883')]
</template>

<script>
import NavBar from '~/components/NavBar'
import Showcase from '~/components/Showcase'
import * as constants from '~/assets/js/constants'

import me from '~/assets/img/me.jpg'
import facebook from '~/assets/img/facebook.svg?url'
import globality from '~/assets/img/globality.svg?url'
import horizons from '~/assets/img/horizons.svg?url'
import rangle from '~/assets/img/rangle.svg?url'
import minesweeper from '~/assets/img/minesweeper.svg?url'
import handle from '~/assets/img/handle.svg?url'
import slt from '~/assets/img/slt.png'
import lodash from '~/assets/img/lodash.svg?url'
import asciinator from '~/assets/img/asciinator.png'
import hyperspace from '~/assets/img/hyperspace.png'
import climbcareer from '~/assets/img/climbcareer.png'

const initialState = () => ({
  keysDown: {
    ArrowRight: false,
    ArrowLeft: false,
    ArrowUp: false,
    KeyX: false,
  },
  spans: [],
  rects: [],
  currentFrame: 0,
  translateX: 0,
  translateY: 0,
  width: 0,
  height: 0,
  jumpFrames: -1 | 0,
  runFrames: 0,
  xFrames: 0,
  stopped: true,
  jumping: false,
  facingLeft: false,
  mario: null,
  ArrowRight: null,
  ArrowLeft: null,
  ArrowUp: null,
  KeyX: null,
  velocity: {
    x: 0,
    y: 0,
  },
})

let state = initialState()

const sprites = {
  jump: '92.52577319587629% 0',
  stand: '53.8659793814433% 0',
  stopping: '14.94845360824742% 0',
  run: {
    0: '61.5979381443299% 0',
    1: '69.32989690721649% 0',
    2: '77.31958762886598% 0',
  }
}

function intro() {
  const { keysDown } = state
  keysDown.ArrowRight = true
  startAnimate()
  setTimeout(() => {
    console.log('up')
    keysDown.ArrowUp = true
    setTimeout(() => {
      keysDown.ArrowUp = false
      state.jumping = false
      setTimeout(() => {
        keysDown.ArrowRight = false
        const { k } = window
        k && k.classList.add('animate-1')
        window.addEventListener('keydown', keydown, { capture: false, passive: true })
        window.addEventListener('keyup', keyup, { capture: false, passive: true })
      }, 200)
    }, 1000)
  }, window.innerWidth)
}

function refetchRects() {
  state.rects.length = 0
  state.rects.push(...state.spans.map(span => {
    const rect = span.getBoundingClientRect()
    return {
      left: rect.left | 0,
      right: rect.right | 0,
      bottom: rect.bottom | 0,
      top: rect.top | 0,
    }
  }))
}

function intersectRect(r1, left, right, bottom, top) {
  return (left <= r1.right &&
          right >= r1.left &&
          top <= r1.bottom &&
          bottom >= r1.top)
}

function startAnimate() {
  state.stopped = false
  resize()
  window.c.addEventListener('scroll', refetchRects, { capture: false, passive: true })
  window.addEventListener('resize', resize, { capture: false, passive: true })
  state.currentFrame = requestAnimationFrame(frame)
}
function stopAnimate() {

  if (!state.stopped) {
    state.stopped = true
    window.removeEventListener('resize', resize, false)
    window.c.removeEventListener('scroll', refetchRects, false)
  }
}

function frame() {
  if (state.stopped) {
    return
  }
  const { mario, velocity, keysDown } = state
  const oldTranslateX = state.translateX | 0
  const oldTranslateY = state.translateY | 0

  if (keysDown.KeyX && Math.abs(velocity.x) | 0 > 0) {
    state.xFrames = (state.xFrames + 1) | 0
  } else {
    state.xFrames = 0
  }
  const m = state.xFrames > 10 ? 1.5 : 1
  const max = 8 * m
  const _max = -max
  if (keysDown.ArrowRight) {
    const vSum = velocity.x + m
    if (vSum < max) {
      velocity.x = vSum
    } else {
      velocity.x = max
    }
  } else if (keysDown.ArrowLeft) {
    const vSum = velocity.x - m
    if (vSum > _max) {
      velocity.x = vSum
    } else {
      velocity.x = _max
    }
  } else if (velocity.x > 0) {
    velocity.x--
  } else if (velocity.x < 0) {
    velocity.x++
  }
  const newAbsX = Math.abs(velocity.x)
  if (newAbsX < 1) velocity.x = 0
  state.facingLeft = velocity.x < 0 || state.facingLeft && velocity.x === 0
  if (keysDown.ArrowUp) {
    if (state.jumpFrames === -1 && !state.jumping) {
      state.jumping = true
      velocity.y -= 15
    } else if (state.jumping && state.jumpFrames !== -1 && state.jumpFrames < 10) {
      velocity.y -= m + 0.5
    }
    state.jumpFrames = (state.jumpFrames + 1) | 0
  }
  velocity.y += 1
  const left = oldTranslateX + velocity.x
  const right = left + 68
  const bottom = oldTranslateY + velocity.y
  const top = bottom - 64

  if (left > state.width) {
    state.translateX = state.width
  } else if (left < 0) {
    state.translateX = 0
  } else {
    state.translateX = left
  }
  if (bottom > 0) {
    velocity.y = state.translateY = 0
    state.jumpFrames = -1
  } else if (bottom < 0) {
    state.translateY = bottom
  }
  let sprite
  if (velocity.x === 0 && state.jumpFrames === -1) {
    stopAnimate()
    if (!keysDown.ArrowRight && !keysDown.ArrowLeft)
    state.runFrames = 0
    sprite = sprites.stand
  } else if (state.jumpFrames >= 0) {
    state.runFrames = 0
    sprite = sprites.jump
  } else {
    if (keysDown.ArrowRight && velocity.x < 0 || keysDown.ArrowLeft && velocity.x > 0) {
      sprite = sprites.stopping
    } else {
      const runFrames = state.runFrames = state.runFrames + m
      sprite = sprites.run[~~((runFrames % 15) / 5)]
    }
  }
  mario.style.backgroundPosition = sprite
  mario.style.transform = `translate3d(${state.translateX}px,${state.translateY}px,0)${state.facingLeft ? ' scaleX(-1)' : ''}`

  state.spans.forEach((span, i) => {
    if (intersectRect(state.rects[i], left, right, (bottom + state.height) | 0, (top + state.height) | 0)) {
      if (!span.intersecting) {
        if (!span.className) {
          span.className = 'animate-1'
        }
        span.intersecting = true
      }
    } else {
      span.intersecting = false
    }
  })
  state.currentFrame = requestAnimationFrame(frame)
}

function keydown(e) {
  const { keysDown } = state
  if (keysDown[e.code]) return
  if (e.code in keysDown) {
    keysDown[e.code] = true
    state[e.code].className = 'active'
  }
  if (state.stopped)
    startAnimate()
}

function keyup(e) {
  const { keysDown } = state
  if (e.code in keysDown) {
    keysDown[e.code] = false
    state[e.code].className = ''
  }
  if (e.code === 'ArrowUp') {
    state.jumping = false
  }
}

function resize() {
  state.width = window.innerWidth - 68 | 0
  state.height = window.bio.getBoundingClientRect().top | 0
  refetchRects()
}

export default {
  components: {
    Showcase,
    NavBar,
  },
  data: () => ({
    constants,
    text: 'Hi',
    me,
    facebook,
    globality,
    horizons,
    rangle,
    minesweeper,
    handle,
    slt,
    lodash,
    asciinator,
    hyperspace,
    climbcareer,
  }),
  mounted() {
    Object.assign(state, this.$refs)
    state.spans.push.apply(state.spans, window.s.getElementsByTagName('div'))
    resize()
    intro()
  },
  beforeDestroy() {
    window.removeEventListener('keyup', keyup, false)
    window.removeEventListener('keydown', keydown, false)
    stopAnimate()
    state = initialState()
  },
}
</script>

<style lang="scss">
@import '../assets/css/variables.scss';

$p: 1px;
$h: 90vh;
$z: -1px;

.mario {
  background-image: url('../assets/img/smb_mario_sheet.png');
  background-position: 53.8659793814433% 0;
  background-repeat: no-repeat;
  background-size: 2414.705882352941% 1182.8125%;
  height: 64px;
  image-rendering: pixelated;
  width: 68px;
}

.mario,
.key-guide {
  bottom: 100%;
  position: absolute;
}

.key-guide {
  pointer-events: none;
  right: 0;
}

.c {
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: $p;
  position: fixed;
  right: 0;
  top: 0;
}

.parallax {
  font-size: 20;
  position: relative;
  transform-style: preserve-3d;
}

.background {
  background-color: $c5;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 800'%3e%3cpath fill='%234d414a' d='M1600 160L0 460V350L1600 50z'/%3e%3cpath fill='%2367545d' d='M1600 260L0 560V450l1600-300z'/%3e%3cpath fill='%23806771' d='M1600 360L0 660V550l1600-300z'/%3e%3cpath fill='%239a7a84' d='M1600 460L0 760V650l1600-300z'/%3e%3cpath fill='%23b38d97' d='M1600 800H0v-50l1600-300z'/%3e%3c/svg%3e");
  background-position: center;
  background-size: cover;
  height: $h;
  position: absolute;
  top: calc((100vh - #{$h}) * #{$z / $p / 2});
  transform: translateZ($z) scale(1 - $z/$p);
  width: 100vw;
}

@keyframes gg {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(180deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.foreground {
  background-color: #fff;
  position: absolute;
  top: $h;
  width: 100%;
}

.social > a:not(:first-child) {
  margin-left: 1rem;
}

$tscolor: $c4;

.keys {
  display: flex;
  margin: 0 1rem 1rem 0;

  > div {
    align-items: center;
    border: 1px solid;
    border-radius: 2px;
    color: $c4;
    display: flex;
    font-size: 1.5rem;
    height: 3rem;
    justify-content: center;
    position: relative;
    width: 3rem;
    will-change: transform;

    &.active {
      animation: grow 200ms ease-in-out;
      color: #fff;
      z-index: 1;
    }

    &::after {
      border: 1px solid;
      border-radius: 0 0 2px 2px;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      top: 100%;
      width: 100%;
    }

    &.active,
    &.active::after {
      background-color: $c5;
    }
  }
}

.hero {
  color: $tscolor;
  font-size: 7rem;
  text-shadow:
    0 1px 0 $c3,
    1px 0 0 $c3,
    1px 2px 0 $c3,
    2px 1px 0 $c3,
    2px 3px 0 $c3,
    3px 2px 0 $c3,
    3px 4px 0 $c3,
    4px 3px 0 $c3,
    4px 5px 0 $c3,
    5px 4px 0 $c3,
    5px 6px 0 $c3,
    6px 5px 0 $c3,
    6px 7px 0 $c3,
    7px 6px 0 $c3;

  > div {
    display: inline-block;
    will-change: transform;
  }
}

.showcase > div:nth-child(even) .showcase-img {
  margin: 0 0 0 1rem;
  order: 1;
}

.main-img {
  border-radius: 50%;
  height: 12rem;
  margin-right: 4rem;
  object-fit: cover;
  width: 12rem;
}

@media only screen and (max-width: $mobile) {
  .main-img {
    margin-right: 0;
  }
}

.showcase > div {
  margin-top: 1rem;
}

@keyframes grow {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.5, 1.5);
  }
}

.animate-1 {
  animation: grow 300ms ease-in-out;
}

</style>
