<template lang="pug">
div
  NavBar
  resume(ref='resume')
  a(href='/resume.pdf', :download='download')
    .download.ripple
      .tooltip Download as PDF
      fa(icon='download')
</template>

<script>
import Resume from '~/components/Resume'
import NavBar from '~/components/NavBar'

const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov']

export default {
  components: {
    Resume,
    NavBar,
  },
  data() {
    return {
      download: '',
    }
  },
  methods: {
    onResize() {
      requestAnimationFrame(() => {
        const width = window.innerWidth;
        if (width < this.width) {
          this.$refs.resume.$el.style.transform = `scale(${width / this.width})`
        } else {
          this.$refs.resume.$el.style.transform = ''
        }
      })
    },
  },
  mounted() {
    const date = new Date()
    this.download = `Amby Balaji Resume - ${months[date.getMonth()]} ${date.getDate()}, ${date.getFullYear()}.pdf`

    window.addEventListener('resize', this.onResize, { capture: false, passive: true })
    this.width = this.$refs.resume.$el.clientWidth
    this.onResize()
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.onResize, false)
  },
}
</script>

<style lang="scss">
@import '../assets/css/variables.scss';

@page {
  margin: 0;
}

html,
body {
  background-color: rgb(82, 86, 89);
}

$radius: 3.5rem;
$offset: 1.5rem;
$font-size: 1.5rem;

.tooltip {
  background: hsla(0, 0, 10, 0.9);
  border-radius: 2px;
  break-inside: avoid;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.3rem;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: scale(0, 0) translateY(-50%);
  transform-origin: right top;
  transition: all 200ms ease;
  width: max-content;
}

.download {
  background-color: $c3;
  border-radius: 50%;
  bottom: $offset;
  box-shadow:
    0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: $font-size;
  height: $radius;
  line-height: $radius;
  position: fixed;
  right: $offset;
  text-align: center;
  width: $radius;
}

.download:hover {
  background-color: lighten($c3, 10);
  box-shadow:
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.2);
  overflow: visible;

  > .tooltip {
    transform: scale(1, 1) translate(-1rem, -50%);
  }
}

@media print {
  .resume {
    transform: none !important;
  }

  .download {
    display: none;
  }
}
</style>
